/*Typografie*/

@font-face {
    font-family: "dfds-bold";
    src: url('../fonts/dfds-bold.eot') format('embedded-opentype'), url('../fonts/dfds-bold.ttf') format('truetype'), url('../fonts/dfds-bold.woff') format('web-openfont');
}

@font-face {
    font-family: "dfds-light";
    src: url('../fonts/dfds-light.eot') format('embedded-opentype'), url('../fonts/dfds-light.ttf') format('truetype'), url('../fonts/dfds-light.woff') format('web-openfont');
}

h2,
h3,
h4,
p {
    font-family: dfds-bold;
}

nav,
h1,
p,
label,
a,
footer,
    {
    font-family: dfds-light;
}


h3 {
    font-size: 1.25rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;

}


/*Kleur*/

body,
html {
    background-color: #EEF0F1;
    margin: 0;
    padding: 0;
}

/*button*/

button {
    color: #ffffff;
    background-color: #F6861F;
    font-family: dfds-bold;
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border: none;
    transition-duration: 0.3s;
    text-transform: uppercase;
    height: 2.8rem;

}

button:hover {
    background-color: #85BCE9;
}

/*Header*/

header {
    display: grid;
    grid-template-columns: 9rem 9rem auto 3rem 3rem 0.7rem;
    grid-template-rows: 3rem;
    align-items: center;
    color: #85BCE9;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

img[alt="logo"] {
    width: 7rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

/* Dropdown zoeken */

.dropdownbutton {
    grid-column-start: 4;
    background-image: url(afb/zoeken.png);
    background-repeat: no-repeat;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    cursor: pointer;
    outline: none;

}

.dropdownbutton:hover {
    transform: scale(1.1);
}

.dropdownzoek {
    grid-column-start: 4;
    position: relative;
    display: inline-block;
}

.dropdown-zoek {
    display: none;
    position: absolute;
    border-color: #EEF0F1;
    border-style: solid;
    width: 10rem;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    padding: 0.7rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    right: 0;

}

.dropdown-zoek:focus {
    width: 15.5rem;
}


.showtwee {
    display: block;
}


/* Dropdown menu */

.dropdownknop {
    background-color: #ffffff;
    background-image: url(afb/hamburger.png);
    background-repeat: no-repeat;
    width: 2.3rem;
    height: 2.3rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdownknop:hover {
    transform: scale(1.1);
}

.dropdownmenu {
    position: relative;
    display: inline-block;
}

.menu-twee {
    display: none;
    position: absolute;
    padding: 1rem;
    width: 1.5rem;
    background-color: #85BCE9;
    min-width: 10rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    right: 0;
}

.menu-twee a {
    color: #ffffff;
    font-family: dfds-bold;
    text-transform: uppercase;
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.menu-twee a:hover {
    color: #002b45;
}

.showdrie {
    display: block;
}



h1 {
    font-size: 1.6rem;
    font-family: dfds-light;

}

a {
    font-family: dfds-bold;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
}



/*het verhaal*/

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5;
    grid-column-gap: 0.8rem;
    grid-row-gap: 1.25rem;
    margin: 1.25rem 1.25rem 1.25rem;
    background-color: #ffffff;

}

article img {
    width: 100%;
}

/* sterren en comment*/

img + div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 1rem;
}

div + button {
    grid-column-start: 1;
    grid-row-start: 1;

}

.empthyster {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 2rem;
    height: 2rem;
}

.fullster {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 2rem;
    height: 2rem;
    background-image: url(afb/volster.png);
}



button + div {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 8rem;
    padding: 1rem;
}



div + form {
    grid-column-start: 1;
    grid-row-start: 3;
    font-family: dfds-light;


}

legend + p {
    font-family: dfds-light;
}

p + input {
    display: block;
    border-style: solid;
    border-color: #EEF0F1;
}

input + textarea {
    display: block;
    border-style: solid;
    border-color: #EEF0F1;
    width: 19rem;
    height: 3rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: 0.5sec ease;
}

textarea + input {
    color: #ffffff;
    background-color: #F6861F;
    font-family: dfds-bold;
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border: none;
    transition-duration: 0.3s;
    text-transform: uppercase;
    height: 2.8rem;
}

textarea + input:hover {
    background-color: #85BCE9;
}

/*responsive*/

@media screen and (min-width: 20rem) {
    img[alt="blindverhaal3"] {
        display: block;
    }
    img[alt="blindverhaal2"] {
        display: none;
    }
    img[alt="blindverhaal1"] {
        display: none;
    }
}

@media screen and (min-width: 35rem) {
    img[alt="blindverhaal3"] {
        display: none;
    }
    img[alt="blindverhaal2"] {
        display: block;
    }
    img[alt="blindverhaal1"] {
        display: none;
    }
}

@media screen and (min-width: 50rem) {
    img[alt="blindverhaal3"] {
        display: none;
    }
    img[alt="blindverhaal2"] {
        display: none;
    }
    img[alt="blindverhaal1"] {
        display: block;
    }
}
