/*Typografie*/

@font-face {
    font-family: "dfds-bold";
    src: url('../fonts/dfds-bold.eot') format('embedded-opentype'), url('../fonts/dfds-bold.ttf') format('truetype'), url('../fonts/dfds-bold.woff') format('web-openfont');
}

@font-face {
    font-family: "dfds-light";
    src: url('../fonts/dfds-light.eot') format('embedded-opentype'), url('../fonts/dfds-light.ttf') format('truetype'), url('../fonts/dfds-light.woff') format('web-openfont');
}

legend {
    font-family: dfds-bold;
    font-size: 1.25rem;
    color: #002B45;
    padding-bottom: 1rem;
}

label {
    color: #85BCE9;
}

/*Kleur*/

body,
html {
    background: url(afb/quiraing-isle-of-skye-schotland.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*button*/

button {
    color: #ffffff;
    background-color: #F6861F;
    font-family: dfds-bold;
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border: none;
    transition-duration: 0.3s;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

button:hover {
    background-color: #85BCE9;
}

/*Header*/

header {
    display: grid;
    grid-template-columns: 9rem 9rem auto 3rem 0.7rem;
    grid-template-rows: 3rem;
    align-items: center;
    color: #85BCE9;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

img[alt="logo"] {
    width: 7rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

img[alt="search icon"] {
    grid-column-start: 3;
    width: 2.5rem;
    justify-self: end;
}

img[alt="hamburger icon"] {
    grid-column-start: 4;
    width: 2.5rem;
    margin-left: 1rem;
    justify-self: end;
}

h1 {
    font-size: 1.6rem;
    font-family: dfds-light;

}

a {

    font-family: dfds-bold;
    font-size: 1rem;
    color: #002B45;
    text-decoration: none;
}


/*form grid*/

form {
    display: block;
    max-width: 20rem;
    border: none;
    background-color: #ffffff;
    padding: 1.5rem;
    margin: 1.25rem;
    margin-right: auto;
    margin-left: auto;

}

fieldset {
    border: none;
    font-family: dfds-light;


}

input {
    display: block;
    border: none;
    width: 16.4rem;
    height: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    box-shadow: inset 0 -0.125rem 0 #EEF0F1;
    transition: 0.5sec ease;
}

input:hover {
    letter-spacing: 0.1rem;
    box-shadow: inset 0 -0.125rem 0 #434950;
}

input:focus {
    display: block;
    outline: none;
    border: none;
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;

}

input:invalid {
    display: block;
    background-color: rgba(209, 99, 118, 0.3);
    outline: none;
    border: none;
    width: 16rem;
    height: 2rem;
    padding-left: 1rem;
}

input:focus:valid {
    display: block;
    background-color: rgba(85, 169, 99, 0.3);
    outline: none;
    border: none;
    width: 16rem;
    height: 2rem;

}
