/*Typografie*/

@font-face {
    font-family: "dfds-bold";
    src: url('../fonts/dfds-bold.eot') format('embedded-opentype'), url('../fonts/dfds-bold.ttf') format('truetype'), url('../fonts/dfds-bold.woff') format('web-openfont');
}

@font-face {
    font-family: "dfds-light";
    src: url('../fonts/dfds-light.eot') format('embedded-opentype'), url('../fonts/dfds-light.ttf') format('truetype'), url('../fonts/dfds-light.woff') format('web-openfont');
}

h2,
h3,
h4 {
    font-family: dfds-bold;
}

nav,
h1,
p,
label,
a,
footer,
p {
    font-family: dfds-light;
}

p {
    font-size;
    1rem;
}

h3 {
    font-size;
    1.25rem;
    letter-spacing: 0.08rem;
}


/*Kleur*/

body,
html {
    background-color: #EEF0F1;
    margin: 0;
    padding: 0;
}


/*Header*/

header {
    display: grid;
    grid-template-columns: 15rem 37rem 30rem;
    grid-template-rows: 3rem 3rem;
    align-items: center;
    color: #85BCE9;
    background: #ffffff;
}

img {
    width: 7rem;
    padding: 0.5rem;
    margin-left: 7rem;
}

h1 {
    font-size: 1.6rem
}

a {
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #85BCE9;
    text-decoration: none;
}

a:hover {
    color: #002b45;
    transition-duration: 0.3s;
}

header input {
    cursor: pointer;
    grid-column-start: 3;
    grid-row-start: 2;
    width: 21.2rem;
    height: 3rem;
}


/*grid blok opgeslagen verhalen*/

header+div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15rem auto;
    grid-column-gap: 0.8rem;
    grid-row-gap: 1.25rem;
    margin: 1.25rem 7rem;
}

div>article {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 3rem;
    background-image: url("afb/Nichterig.png");
    background background-size: cover;
    background-position: -0.5rem;
    color: #ffffff;
}

article+section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #ffffff;
}

section>article {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 2;
    background-color: #ffffff;
}


/*button*/

button {
    color: #ffffff;
    background-color: #F6861F;
    font-family: dfds-bold;
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border: none;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #85BCE9;
}


/*footer*/

footer {
    font-size: 0.75rem;
    color: #85BCE9;
}
