/*Typografie*/

@font-face {
    font-family: "dfds-bold";
    src: url('../fonts/dfds-bold.eot') format('embedded-opentype'), url('../fonts/dfds-bold.ttf') format('truetype'), url('../fonts/dfds-bold.woff') format('web-openfont');
}

@font-face {
    font-family: "dfds-light";
    src: url('../fonts/dfds-light.eot') format('embedded-opentype'), url('../fonts/dfds-light.ttf') format('truetype'), url('../fonts/dfds-light.woff') format('web-openfont');
}

h2,
h3,
h4,
p {
    font-family: dfds-bold;
}

nav,
h1,
p,
label,
a,
footer,
    {
    font-family: dfds-light;
}


h3 {
    font-size: 1.25rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;

}


/*Kleur*/

body,
html {
    background-color: #EEF0F1;
    margin: 0;
    padding: 0;
}

/*button*/

button {
    color: #ffffff;
    background-color: #F6861F;
    font-family: dfds-bold;
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border: none;
    transition-duration: 0.3s;
    text-transform: uppercase;
    height: 2.8rem;

}

button:hover {
    background-color: #85BCE9;
}

/*Header*/

header {
    display: grid;
    grid-template-columns: 9rem 9rem auto 3rem 0.7rem;
    grid-template-rows: 3rem;
    align-items: center;
    color: #85BCE9;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: fixed;
    width: 100%;
}

img[alt="logo"] {
    width: 7rem;
    padding: 0 0.5rem;
    margin-left: 1rem;
}

img[alt="search icon"] {
    grid-column-start: 3;
    width: 2.5rem;
    justify-self: end;
}

img[alt="hamburger icon"] {
    grid-column-start: 4;
    width: 2.5rem;
    margin-left: 1rem;
    justify-self: end;
}

h1 {
    font-size: 1.6rem;
    font-family: dfds-light;

}

a {
    font-family: dfds-bold;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
}


/*het verhaal*/

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5;
    grid-column-gap: 0.8rem;
    grid-row-gap: 1.25rem;
    margin: 0 1.25rem 1.25rem;
    background-color: #ffffff;

}

article img {
    width: 100%;
}

/* sterren en comment*/

img + div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 1rem;
}

div + button {
    grid-column-start: 1;
    grid-row-start: 1;

}

.empthyster {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 2rem;
    height: 2rem;
}

.fullster {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 2rem;
    height: 2rem;
    background-image: url(afb/volster.png);
}



button + div {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 8rem;
    padding: 1rem;
}



div + form {
    grid-column-start: 1;
    grid-row-start: 3;
    font-family: dfds-light;


}

legend + p {
    font-family: dfds-light;
}

p + input {
    display: block;
    border-style: solid;
    border-color: #EEF0F1;
}

input + textarea {
    display: block;
    border-style: solid;
    border-color: #EEF0F1;
    width: 19rem;
    height: 3rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: 0.5sec ease;
}

textarea + input {
    color: #ffffff;
    background-color: #F6861F;
    font-family: dfds-bold;
    font-size: 1.25rem;
    padding: 0.3rem 1rem;
    border: none;
    transition-duration: 0.3s;
    text-transform: uppercase;
    height: 2.8rem;
}

textarea + input:hover {
    background-color: #85BCE9;
}

/*responsive*/

@media screen and (min-width: 20rem) {
    img[alt="paranoia verhaal3"] {
        display: block;
    }
    img[alt="paranoia verhaal"] {
        display: none;
    }
}

@media screen and (min-width: 38rem) {
    img[alt="paranoia verhaal3"] {
        display: none;
    }
    img[alt="paranoia verhaal"] {
        display: block;
    }
}
